<header
  class='relative z-10 flex items-center flex-shrink-0 px-4 py-4 bg-gray-700 border-b border-gray-200 space-x-8 sm:px-6 lg:px-8'
>
  <LinkTo @route='index'>
    <Logo class='h-6' />
    <span class='sr-only'>Headless UI</span>
  </LinkTo>

  <div class='flex-grow'></div>

  <LinkTo
    @route='docs'
    class='text-white font-bold border-b-2 border-transparent hover:border-blue-400'
    @activeClass='border-blue-400'
  >
    Documentation
  </LinkTo>
</header>
<main class='flex-grow bg-gray-50'>
  {{outlet}}

  <KeyCaster />
</main>